<% content_for :pagename, "Dashboard" %>

<% content_for :breadcrumb do %>
  <%= bc_link "home" %>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading container-row">
        <div class="btn btn-danger btn-lg col-sm-3 col-xs-12 tacho">Signed in today <span class="badge"><%= @signed_in_today %></span></div>
        <div class="btn btn-success btn-lg col-sm-3 col-xs-12 tacho">Online Now <span class="badge"><%= @signed_in_now %></span></div>
        <%= link_to backend_applications_path do %>
            <div class="btn btn-warning btn-lg col-sm-3 col-xs-12 tacho">Volunteers <span class="badge"><%= 
            @applications.count %></span></div>
        <% end -%>
        <%= link_to backend_ravers_path do %>
            <div class="btn btn-primary btn-lg col-sm-2 col-xs-12 tacho">Ravers <span class="badge"><%= 
            @ravers.count %></span></div>
        <% end -%>
    <% link_to icon("plus-circle"), new_backend_raver_path, class:"btn" %>
  </div>
  <div class="panel-body">
        <div class="col-md-6 chart">
            <%= pie_chart Raver.group(:town).count , colors: ["#1abc9c", "#2ecc71","#3498db", "#9b59b6", "#34495e","#f1c40f" ,"#e67e22","#e74c3c", "#ecf0f1" ,"#95a5a6", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"] %>
            <h4 class="text-center">Ville</h4>
        </div>
        <div class="col-md-6 chart">
            <%= pie_chart Raver.group(:gender).count , colors: ["#1abc9c", "#9b59b6", "#34495e","#f1c40f" ,"#e67e22","#e74c3c", "#ecf0f1" ,"#95a5a6", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"] %>
            <h4 class="text-center">Sexe</h4>
        </div>
        <a href="http://192.168.2.123:8888/" >link to teskerti testing </a>
    </div>
</div>