<div class="profile-box row">
    <div class="profile col-md-12">
        <%= image_tag "beatsLogo.png", class: "image", width: "50"%>
            <div class="profile">
                <strong>BeAtS Administrator</strong>        
                <small>amine.belkhiria@yahoo.fr</small><br>
                <small class="fa fa-sign-out">Abmelden</small>

            </div>
        <% if Rails.env.staging? %>
        (STAGING)
        <% end %>
    </div>
</div>
<% @menu_scope_user = true if %w(users).include? controller_name %>
<% @menu_scope_db = true if %w(countries languages educations line_of_works german_states contents).include? controller_name %>

<ul>
    <li><%= link_to "Dashboard", admin_path, class: "fa fa-tachometer #{menu_active("pages")}" %></li>
    <li><%= link_to "Ravers", backend_ravers_path, class: "fa fa-user #{menu_active("ravers")}" %></li>
    <li><%= link_to "Expenses", backend_expenses_path, class: "fa fa-user #{menu_active("expenses")}" %></li>
    <% if false #current_adminuser.email[-17,17] == "videri-concept.de" %>
    <li><%= link_to "Admin", admin_path, class: "fa fa-shield js-toggle-sub #{menu_active_bool(@menu_scope_admin)}" %>
        <ul class="js-sub" style="<%= menu_block_bool(@menu_scope_admin) %>">
            <li><%= link_to "Resque", resque_server_path, target: "_blank" %></li>
        </ul>
    </li>
    <% end %>
</ul>
