<% content_for :video_background, "#{asset_path "beats4.mp4"}" %>
<% content_for :css_class, "new-gif" %>
<% content_for :video_class, "not-centred" %>

<div class=" list-new">
    <h3 class="mailing-list-heading"><i class="fa fa-heart" style="font-size:50px;"aria-hidden="true"></i><br><br>BeAtS volunteers application</h3>
    <div class="row">
        <%= form_for(@application, url: application_path, :html => {class: 'form-horizontal col-xs-12 col-sm-6 col-sm-offset-3' }) do |f| %>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <%= f.label :competance, class: "sr-only" %>
                        <%= f.text_field :competance, placeholder:"Artistical competances" ,class: "form-control transparent",rows: 3, required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.label :motivation, class: "sr-only" %>
                        <%= f.text_area :motivation , placeholder:"Some motivation words" , class: "form-control transparent",rows: 3, required: true %>
                    </div>
                </div>
            </div>
            <div class="actions">
            <%= f.submit "Send Application", class: "btn btn-danger" %>
            </div>
        <% end %>
    </div>
</div>

