<% content_for :pagename, "Application" %>

<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Volunteers", backend_applications_path %>
  <%= bc_link "Application" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Candidature de <%= @application.raver.name %><span class="badge"></span></h3>
      <%= link_to backend_application_path(@application) , method: :delete , data: {confirm: "etes vous sure?"} do %>
        <i class="fa fa-trash fa-2x trash" aria-hidden="true"></i>
      <% end -%>
      <%= link_to  edit_backend_application_path(@application) do %>
      <i class="fa fa-pencil fa-2x pancel" aria-hidden="true"></i>
      <%end%>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <dl class="dl-horizontal">
          <dt>Nom:</dt>
          <dd><%= @application.raver.name %></dd>
          <dt>Prenom:</dt> 
          <dd><%= @application.raver.surname %></dd>
          <dt>Email:</dt>
          <dd><%= @application.raver.email %></dd>
          <dt>telephone:</dt>
          <dd><%= @application.raver.phone %></dd>
          <dt>Adress:</dt>
          <dd><%= @application.raver.street %></dd>
          <dt>Code postale:</dt>
          <dd><%= @application.raver.zipcode %></dd>
          <dt>Ville:</dt>
          <dd><%= @application.raver.town %></dd>
        </dl>
      </div>
      <div class="col-sm-6 col-xs-12">
        <dl class="dl-horizontal">
          <dt>Competances artistiques:</dt>
          <dd><%= @application.competance %></dd>
          <dt>Lettre de motivation:</dt> 
          <dd><%= @application.motivation %></dd>
          <dt>Lien page:</dt> 
          <% if @application.pagelink.present? %>
            <dd><a href="<%= @application.pagelink %>" target="_blank"><%= @application.pagelink %></a></dd>
          <% else %>
            <dd>non delivree</dd>
          <% end -%>
          <dt>Langues:</dt> 
          <dd><%= @application.language %></dd>
          <dt>Voiture:</dt> 
          <dd><%= @application.car %></dd>
          <dt>Candidature le:</dt>
          <dd><%= @application.created_at %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <% @application.portfolios.each do |portfolio| %>
        <a class="col-sm-4 col-xs-12" href="<%= portfolio.url %>" target="_blank">
            <%= image_tag portfolio, width: "100%"%>
        </a>
      <% end -%>
    </div>
  </div>
</div>




