<% content_for :pagename, "Ravers" %>

<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Ravers" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ravers <span class="badge"></span></h3>
    <% link_to icon("plus-circle"), new_backend_raver_path, class:"btn" %>
  </div>
  <div class="panel-body">
    <div class="row container">
            <%=form_for [:backend,@raver] , :html => {class: 'form-horizontal col-xs-12 col-sm-2 col-sm-offset-5' } do |f| %>
                <div class="form-group">
                    <%= f.label :name, class: "" %>
                    <%= f.text_field :name, placeholder:"Name" ,class: "form-control transparent",rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :surname, class: "" %>
                    <%= f.text_field :surname, placeholder:"Surname", class: "form-control ", rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :gender, class: ""%>
                    <%= f.select :gender, [["Male", 1], ["Female", 2]], {}, {class: "selectpicker form-control transparent", required: true, title: "gender" } %>
                </div>
                <div class="form-group">
                    <%= f.label :town, class: "" %>
                    <%= f.text_field :town, placeholder:"Town", class: "form-control transparent", rows: 2, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :phone, class: "" %>
                    <%= f.text_field :phone, placeholder:"Telephone", class: "form-control transparent",rows: 8, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :email, class: "" %>
                    <%= f.text_field :email, placeholder:"Telephone", class: "form-control transparent",rows: 8, required: true %>
                </div>
                    <%= f.submit "Modifier", class: "col-xs-8 col-xs-offset-2 btn btn-danger" %>
            <% end %>
        </div>
  </div>
</div>



<script src="../../assets/javascripts/backend/Chart.js"></script>
