<% content_for :pagename, "Ravers" %>

<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Ravers" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile <%= @raver.name %><span class="badge"></span></h3>
      <%= link_to backend_raver_path(@raver) , method: :delete , data: {confirm: "etes vous sure?"} do %>
        <i class="fa fa-trash fa-2x trash" aria-hidden="true"></i>
      <% end -%>
      <%= link_to  edit_backend_raver_path(@raver) do %>
      <i class="fa fa-pencil fa-2x pancel" aria-hidden="true"></i>
      <%end%>
  </div>
  <div class="panel-body">
    <div class="col-sm-6 col-xs-12">
      <dl class="dl-horizontal">
        <dt>Nom:</dt>
        <dd><%= @raver.name %></dd>
        <dt>Prenom:</dt> 
        <dd><%= @raver.surname %></dd>
        <dt>Email:</dt>
        <dd><%= @raver.email %></dd>
        <dt>telephone:</dt>
        <dd><%= @raver.phone %></dd>
        <dt>Adress:</dt>
        <dd><%= @raver.street %></dd>
        <dt>Code postale:</dt>
        <dd><%= @raver.zipcode %></dd>
        <dt>Ville:</dt>
        <dd><%= @raver.town %></dd>
      </dl>
    </div>
    <div class="col-sm-6 col-xs-12">
      <dl class="dl-horizontal">
        <dt>Inscrit le:</dt>
        <dd><%= @raver.created_at %></dd>
        <dt>Derniere connection:</dt> 
        <dd><%= @raver.last_sign_in_at %></dd>
        <dt>derniere ip:</dt>
        <dd><%= @raver.last_sign_in_ip %></dd>
        <dt>Nbr totale de connections:</dt>
        <dd><%= @raver.sign_in_count %></dd>
      </dl>
    </div>
  </div>
</div>




