<!DOCTYPE html>
<html class="no-js">
<head>
    <title>BeAtS Experience - Tunisia</title>
    <meta name="description" content="Beats experience Tunisia. Electronic music Festival Techno Tech house Deephouse.">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- Font links -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
          
    <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_path "favicon.png" %>" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83895531-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="main" class="main <%= yield :css_class %>"> 
    
    <!-- Mobile side NavBar -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <%= link_to "Line Up", lineup_path, class: "nav-el" %>
      <%= link_to "Date & Locatiion", date_path %>
      <%= link_to 'Tickets', tickets_path %>
      <%= link_to 'Apply as Volunteer', application_path %>
    </div>
  
    <!-- video background-->
    <% if !(action_name == 'tickets' or action_name == 'lineup' or action_name == 'date') %>
      <video id="video-background" class="<%= yield :video_class %>" preload="none" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="<%= yield :video_background %>" type="video/mp4">
        <source src="img/beats.m4v">
        <source src="img/beats.webm" type="video/webm">
        <source src="img/beats.theora.ogv" type="video/ogg">
        Browser doesen't support this graphic
    </video>
  <% end %>

  <!-- Beats Nav-bar --> 
  <div class="overlay"></div>
    <div id="content" class="container">
      <% if !(action_name == 'new' and (controller_name == 'sessions' or controller_name = "registrations")) %>
        <a onclick="openNav()" class="mobileNavBar fa fa-bars hidden-sm hidden-md hidden-lg"></a>
        <p class="social white col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-9 text-center">
            <% if raver_signed_in? %> 
                Logout
                <%= link_to  destroy_raver_session_path , method: :delete, class: "twitter" do %>
                    <i class="fa fa-sign-out " aria-hidden="true"></i>
                <% end %>
            <% else %>
                Login
                <%= link_to  new_raver_session_path , class: "instagram" do %>
                     <i class="fa fa-heart " aria-hidden="true"></i>
                <% end %>
            <% end %>
                <a href="https://www.facebook.com/beats.autonomica/" target="_blank" title="BeAtS Facebook Page" class="facebook"><i class="fa fa-facebook"></i></a>
        </p>
        <% end -%>
        <% if raver_signed_in? %> 
          <div class="beats-nav container-row hidden-xs">
              <ul class="nav nav-pills">
                <li role="presentation" class="nav-el col-sm-2 col-sm-offset-2 text-center <%= beats_menu_activ("lineup")%> "><%= link_to "LINE UP", lineup_path, class: "nav-el" %></li>
                <li role="presentation" class="col-sm-2  text-center  <%= beats_menu_activ("date") %>"><%= link_to "DATE & LOCATION", date_path %></li>
                <li role="presentation" class="col-sm-2  text-center <%= beats_menu_activ("tickets") %>"><%= link_to 'TICKETS', tickets_path, class: "menu-new" %></li>
                <li role="presentation" class="col-sm-2  text-center <%= beats_menu_activ("apply") %>"><%= link_to 'APPLY AS VOLUNTEER', application_path %></li>
              </ul>
          </div>
        <% end -%>
        <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
                <div id="notice1" class="col-md-10 col-md-offset-1 transparent alert alert-<%= name == "notice" ? "success" : "danger" %>" style="margin-top:68px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= content_tag :div, msg, id:"flash_#{name}" %>
                </div>
                <br>
            <% else %>
                <% msg.each do |message| %>
                    <div id="notice2" class="col-md-8 col-md-offset-2 transparent alert alert-<%= name == "notice" ? "success" : "danger" %>" style="margin-top:25px; position:relative;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= content_tag :div, message, id:"flash_#{name}" %>
                    </div>
                <% end %>       
            <% end %>
        <% end %>  
        <%= yield %>
      </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="<%= set_black_footer %>">&copy;2016 made with <i class="fa fa-heart" aria-hidden="true"></i> by BeAtS Exp</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    setTimeout(function(){
       $("#notice1").addClass("hidden");
    }, 10000);

    setTimeout(function(){
       $("#notice2").addClass("hidden");
    }, 10000);
  });
</script>

</body>
</html>

