<!DOCTYPE html>
<html class="no-js">
<head>
  <title>BeatsExp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
	<%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_path "favicon.png" %>" />
  <script src="https://use.fontawesome.com/eae48e4e0d.js"></script>
</head>
<body>
<div  class="main <%= yield :css_class %>"> 
  <!-- video background-->
  <!-- replace URLs with your video content URL-->
  <% if !(action_name == 'tickets' or action_name == 'lineup' or action_name == 'date') %>
    <video id="video-background" class="<%= yield :video_class %>" preload="none" autoplay="true" loop="loop" muted="muted" volume="0">
      
      <source src="<%= yield :video_background %>" type="video/mp4">
      <source src="img/beats.m4v">
      <source src="img/beats.webm" type="video/webm">
      <source src="img/beats.theora.ogv" type="video/ogg">
      Browser doesen't support this graphic
    </video>
  <% end %>
  <div class="overlay"></div>
  <div id="content" class="container">
  <% if !(action_name == 'new' and (controller_name == 'sessions' or controller_name = "registrations")) %>
    <p class="social white col-xs-12 col-sm-3 col-sm-offset-9 text-center">
        <% if raver_signed_in? %> 
            Logout
            <%= link_to  destroy_raver_session_path , method: :delete, class: "twitter" do %>
                <i class="fa fa-sign-out " aria-hidden="true"></i>
            <% end %>
        <% else %>
            Login
            <%= link_to  new_raver_session_path , class: "instagram" do %>
                 <i class="fa fa-heart " aria-hidden="true"></i>
            <% end %>
        <% end %>
            <a href="https://www.facebook.com/beats.autonomica/" target="_blank" title="BeAtS Facebook Page" class="facebook"><i class="fa fa-facebook"></i></a>
    </p>
    <% end -%>
    <% if raver_signed_in? %> 
      <div class="beats-nav container-row">
          <ul class="nav nav-pills">
            <li role="presentation" class="nav-el col-sm-2 col-sm-offset-3 col-xs-4 text-center <%= beats_menu_activ("lineup")%> "><%= link_to "LINE UP", lineup_path, class: "nav-el" %></li>
            <li role="presentation" class="col-sm-2 col-xs-4 text-center  <%= beats_menu_activ("date") %>"><%= link_to "DATE & LOCATION", date_path %></li>
            <li role="presentation" class="col-sm-2 col-xs-3 text-center <%= beats_menu_activ("tickets") %>"><%= link_to 'TICKETS', tickets_path %></li>
          </ul>
      </div>
    <% end -%>
    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div class="col-md-10 col-md-offset-1 transparent alert alert-<%= name == "notice" ? "success" : "danger" %>" style="margin-top:68px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, id:"flash_#{name}" %>
            </div>
            <br>
        <% else %>
            <% msg.each do |message| %>
                <div class="col-md-8 col-md-offset-2 transparent alert alert-<%= name == "notice" ? "success" : "danger" %>" style="margin-top:25px; position:relative;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= content_tag :div, message, id:"flash_#{name}" %>
                </div>
            <% end %>       
        <% end %>
    <% end %>  
    <%= yield %>
    </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;2016 made with <i class="fa fa-heart" aria-hidden="true"></i> by BeAtS Exp</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

